@page
@model WebApp_ASP_Pluralsight.Pages.Restaurants.NotFoundModel
@{
}

<h1 style="color: darkred">
    Error!
</h1>

<h2>
    Restaurant Not Found!
</h2>
<a asp-page="./List" class="btn btn-primary">Back to the list</a>
